<!-- start custom head snippets -->
<meta name="theme-color" content="#86b049" />
<!-- <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="any" /> -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
  rel="stylesheet" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ProfessionalService",
    "name": "Canislupa",
    "url": "{{ site.url | default: 'https://canislupa.fr' }}{{ '/' | relative_url }}",
    "telephone": "+33626490040",
    "email": "canislupa@gmx.fr",
    "areaServed": [{ "@type": "City", "name": "Saint-Étienne" }],
    "knowsAbout": [
      "éducation canine",
      "rééducation du chien",
      "comportement du chien",
      "dogsitting",
      "prévention morsure (PECCRAM)"
    ],
    "sameAs": [
      "https://www.facebook.com/canislupaeducationcanine",
      "https://www.instagram.com/mary_canislupa/"
    ]
  }
</script>
<!-- end custom head snippets -->